/* main global Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

.md-container {
  max-width: 820px;
  padding-top: 2.75rem;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
  font-style: italic;
  font-size: .84rem;
}

.sm-box {
  width: 22rem;
  margin: 1rem 0;
}

.navigation {
  text-align: left;
  position: absolute;
  top: 0px;
  left: 12px;
  background-color: red;
}
.navigation a {
  display: block;
  float: left;
  padding: 4px 12px;
  font-size: .8rem;
  color: white;
}
.navigation a:hover {
  background-color: orangered;
}

.wrap-viewer .nfte { 
  max-width: 84%;
  margin-right: auto;
  margin-left: auto;
}

.wrap-viewer .nfte--loaded .nfte__media {
  max-height: fit-content;
}